/* @import "./base.css";

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn {
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
input{
  padding: 10px;
  border-radius: 5px;
}
.btn-primary {
  background-color: #d49b54;
}

.btn-secondary {
  background-color: #712b75;
}

body{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
button:disabled,
button[disabled]:hover {
  background-color: rgba(0, 0, 0, 0.12);
  color: rgba(0, 0, 0, 0.26);
}
button:disabled,
button[disabled]:active {
  box-shadow: none;
  top: 0;
}
